name: Build

on: [pull_request, push]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Install Pandoc
        run: make install-ubuntu
      - name: Build with Pandoc
        run: make build-all
      - name: Upload PDF
        uses: actions/upload-artifact@v2
        with:
          name: Build
          path: ./build
      - name: Push PDF
        run: |
          git config --global user.name 'DhruvBisla'
          git config --global user.email 'DhruvBisla@users.noreply.github.com'
          rm .gitignore
          git add .
          git commit -m "[Github Actions] Upload latest build"
          git push